* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/* Colors */
:root {
    --background: #0f172a;
    --background-light: #1e293b;
    --text: #8a98d5;
    --accent: #ffffe6;
    --accent-dark: #ffffb3;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
}

/* Skip link */
.skip-link {
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 0.5rem;
    top: 1rem;
    left: -20rem;
    background-color: var(--accent);
    color: var(--background);
    font-weight: 700;
    text-decoration: none;
}

.skip-link:focus {
    left: 1rem;
}

/* Containers and flexbox */

.site-container {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 110rem;
    margin: auto;
    padding: 1rem;
}

.flex-row, .flex-row-center, .flex-row-space-between, .flex-column {
    display: flex;
    gap: 1rem;
}

.flex-row-center {
    justify-content: center;
}

.flex-row-space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

/* Links */

main a, .skip-link a {
    color: var(--accent);
    font-weight: 700;
}

main a:hover {
    color: var(--accent-dark);
}

/* Titles */

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.6rem;
}

/* Paragraphs */

p {
    padding: 1.4rem 0 1rem 0;
}

/* Header */

/* Nav */

.nav-bar {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    height: 6rem;
}

.nav-bar a {
    text-decoration: none;
    color: var(--accent);
    font-weight: 700;
}

.nav-bar a:hover {
    color: var(--accent-dark);
}

.nav-bar__site-title {
    font-size: 2rem;
    line-height: 4rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
    line-height: 4rem;
}

/* Main */

main {
    padding: 10rem 0 2rem 0;
}

/* Home content */

.home-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* Hero */

.hero {
    text-align: center;
}

.hero h1 {
    color: var(--accent-dark);
}

.hero h1 + p {
    font-size: 2.4rem;
}

/* Actions */

@media screen and (max-width: 600px) {
    .actions {
        flex-wrap: wrap;
    }
}

.actions p {
    padding: 0.25rem 0 0.25rem 0;
    font-weight: normal;
}

.actions h2 {
    font-size: 2.8rem;
}

.actions > a {
    max-width: 38.5rem;
    width: 100%;
}

.actions a {
    color: inherit;
    text-decoration: none;
    padding: 2rem;
    background-color: var(--background-light);
    border-radius: 1rem;
    border: 1px solid var(--background-light);
    transition: all 0.5s ease-out;
}

.actions a:hover {
    color: inherit;
    border: 1px solid var(--text);
}

.actions__action-icon {
    background-color: var(--background);
    border-radius: 0.5rem;
    width: 3rem;
    padding: 0.25rem;
    text-align: center;
    color: var(--accent);
}

/* Posts */

.posts article {
    border-bottom: 1px solid var(--background-light);
    padding: 1.5rem 0 2rem 0;
}

.posts article:last-child {
    border-bottom: none;
}

.posts article a {
    text-decoration: none;
}

.posts article p {
    padding: 0;
}

.posts article a {
    color: var(--accent);
}

.posts article a:hover {
    color: var(--accent-dark);
}

/* Footer */

footer {
    background-color: var(--background-light);
    padding: 1rem 0 1rem 0;
    font-size: 1.6rem;
}

footer ul li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--text);
    font-weight: 700;
    transition: all 0.3s;
}

footer a:hover {
    color: var(--accent);
}

footer .copyright {
    text-align: center;
}

/* Content */

.content-section__content {
    padding: 4rem 0 2rem 0;
}

/* Content titles */

.content-section h1, .content-section hgroup {
    text-align: center;
}

.content-section h2 {
    font-size: 3.6rem;
    padding-top: 3.5rem;
}

.content-section h3 {
    font-size: 2.8rem;
    padding-top: 2rem;
}

.content-section h4 {
    font-size: 2.5rem;
    padding-top: 2rem;
}

.content-section h5 {
    font-size: 2.2rem;
    padding-top: 2rem;
}

.content-section h6 {
    font-size: 2rem;
    padding-top: 1.8rem;
}

code {
    background-color: var(--background-light);
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;
    color: var(--accent);
    font-size: 1.7rem;
}

/* Lists */

.content-section ul {
    padding: 1rem 0 1.5rem 3rem;
}