{% extends "base.html" %}

{% set config = config_data %}
{% set position = position %}

{% set page_title = data.title %}

{% block content %}

<div class="flex flex-col justify-between gap-y-12">
    <section class="flex flex-col gap-y-2 text-center">
        <img src="{{ data.hero.image }}" alt=""/>
        <hgroup class="flex flex-col gap-y-2">
            <h1 class="text-3xl text-purple-light font-semibold">{{ data.hero.title }}</h1>
            <p class="text-xl text-gray-light">{{ data.hero.subtitle }}</p>
        </hgroup>
    </section>
    {% if config.actions|length %}
    <section class="container flex justify-between gap-2 mx-auto">
        {% for action in config.actions %}
        <a class="basis-1/3 flex gap-4" href="{{ action.link }}" title="{{ action.title }}">
            {% if action.icon %}
            <div>
                <i class="bi bi-{{ action.icon }} text-lg text-purple-light" aria-hidden="true"></i>
            </div>
            {% endif %}
            <div class="flex flex-col gap-y-2">
                <h2 class="text-lg font-medium text-white">{{ action.title }}</h2>
                <p>{{ action.text }}</p>
            </div>
        </a>
        {% endfor %}
    </section>
    {% endif %}
    <section class="data-content container mx-auto">
        {{ data.content }}
    </section>
    {% if posts|length %}
    <section class="container mx-auto">
        <h2>{{ config.labels.postsTitle }}</h2>
            {% for post in posts %}
            <article>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <div>
                    <h3>
                        <a href="posts/{{ post.slug }}.html">
                        {{ post.title }}
                        </a>
                        <span>{{ post.date }}</span>
                    </h3>
                    <p>{{ post.summary }}</p>
                </div>
            </article>
            {% endfor %}
    </section>
    {% endif %}
</div>
{% endblock %}